
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  
  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/* heading navber*/
.heading{
     background-color: rgba(255, 144, 14, 0.1);
    
}
.header-banner{
    max-width: 1440px;
    margin: 0 auto;
}
.logo{
   font-size: 45px; 
   font-weight: 700;
   color:#131313 ;

}
.nav-manu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;

}
.nav-manu li{
    list-style-type: none;
}
.nav-manu{
    display: flex;
    align-items: center;
    gap: 35px;
}
.navber{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
/*banner section*/
.banner-title{
    font-size: 64px;
    font-weight: 600;
    color:rgb(19, 19, 19);
    
    margin-top: 150px;

}
.banner-description{
    font-weight: 400;
    
    color: rgb(114, 114, 114);
}
.banner-btn{
    height: 64px;
    width: 180px;
    border-radius:8px ;
    background-color: rgb(255, 144, 14);
    color: #ffffff;
    border: none;

    font-size: 1.25rem;
    font-weight: 500;
    margin: 26px 0;
}
.banner-img{
    margin-bottom: 40px;
    width: 100%;
   
    
}
.banner-content{
    max-width: 861px;
   margin: 0 auto;
   text-align: center;
}
/*media*/
@media screen and (max-width:576px) {
    .nav-manu , .navber {
        flex-direction: column;
    }
}
/*quick-list*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.quick-list{
    margin-top: 130px;
    display: flex;
    align-items: center;
    gap:73px;
    justify-content: space-between;
}
.quick-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.img1{
    border-radius: 8px;
    
    
}
.feature-title{
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 25px;
}
.feature-description{
    color: rgb(114, 114, 114);
    font-weight: 400;
}
/*media-query small*/
@media screen and (max-width:576px){
    .quick-img{
        grid-template-columns: repeat(1,1fr);
        
    }
    .quick-list{
        flex-direction: column;
        margin-left: 20px;
    }
    
}
@media screen and (min-width:576px) and (max-width:992px) {
    .quick-list{
        flex-direction: column;
        margin-left: 30px;
    }
    .feature{
        margin: 0 auto;

    }
}
/*enjoy features*/
.fee-ti{
    font-weight: 500;
    font-size: 2.7rem;
    color: rgb(19, 19, 19);
   
}
.fee-des{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-bottom: 30px;
}
.fee-el-ti{
    font-size: 1.35rem;
    font-weight: 500;
    color:rgb(19, 19, 19) ;
    margin-bottom: 20px;
}
.fee-el-des{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-bottom: 20px;
}
.our-feature{
    display: flex;
    gap: 140px;
     
     margin: 130px auto;
}
.feature-element{
    padding: 30px;
}
.feature-img img{
    width: 100%;
}
.feature-title{
    padding: 20px;
    margin-top: auto;
}
.fea-btn{
    padding: 45px 49px;
    background-color: rgb(255, 144, 14);
    color: #ffffff;
    border-radius: 10px;
    border: none;
    margin-left: -140px;
    margin-top: -100px;
}
.ex-ti{
    font-size: 1rem;
    font-weight: 500;
}
.exper-class{
    font-size: 4rem;
    font-weight: 500;
}


/*some facts*/
.some-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgb(19, 19, 19);
   margin-top: 130px;
    
}
.some-desc{
    
    font-size: 1rem;
    font-weight: 400;
    color:rgb(114, 114, 114) ;
}
.fact-card{
    height: 240px;
    width: 240px;
    text-align: center;
    padding: 45px 35px ;
    border-radius:8px ;
    border: 1px	solid rgb(255, 144, 14);
    margin-top: 100px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
.ri-title{
    font-size: 2.8rem;
    font-weight: 500;
    margin: 20px 0px;
}
.re-des{
   font-size: 1.25rem; 
   font-weight: 400;
   color: rgb(114, 114, 114);
}

@media screen and (max-width:576px) {
    .fact-card{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .card-container {
       grid-template-columns: repeat(1, 1fr);
       margin :0 auto;
       
    }
    .our-feature{
        flex-direction: column;
    }
    .fea-btn{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}
/*our sponsor*/
.spon-ti{
    margin-top: 130px;
    font-size: 2.8rem;
    font-weight: 600;
    color: rgb(19, 19, 19);
    margin-bottom: 50px;
}  
.spon-desc{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    
    
} 
.spon-img{
    filter: grayscale(100%);
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.sponspors{
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
@media screen and (max-width:576px) {
    .spon-img{
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .spon-img  {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 40px;
        
    }
    .our-feature{
        flex-direction: column;
    }
    .feature-element{
        grid-template-columns: repeat(2, 1fr);
    }
    .fea-btn{
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .our-feature{
        grid-template-columns: repeat(2, 1fr);
    }
    .fact-card{
        grid-template-columns: repeat(2,1fr);
    }
    .sponspors{
        flex-direction: column;
        
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 50px;
    }
    }

    .footer{
        margin: 0 auto;
        width: 100%;
    }

/*footer*/
.fo-des{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(66, 66, 66)3;
}
.foot{
    background-color: rgba(255, 144, 14, 0.1);
    padding:39px ;
    justify-content: center;
    
    text-align: center;
}
.footer-section{
    
    max-width: 1440px;
    align-items: center;
    margin: 130px auto;
}